<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618522361907-a5cqvh8nu499bei15mkv1v3onj5c2tgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618522361907-a5cqvh8nu499bei15mkv1v3onj5c2tgm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>618522361907-d367gc57qba55mcql2rcv35n87orbb7r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Yz1S3ECHJmc0ugwBKdrh-aT374xqO-g</string>
	<key>GCM_SENDER_ID</key>
	<string>618522361907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>baid.dipra.neurocare</string>
	<key>PROJECT_ID</key>
	<string>neurocare-15723</string>
	<key>STORAGE_BUCKET</key>
	<string>neurocare-15723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618522361907:ios:67814606ff6af95c196346</string>
</dict>
</plist>